<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Utilizo estos scripts para reutilizar las vistas de header y footer -->
    <script src="../components/header/header.js"></script>
    <script src="../components/footer/footer.js"></script>
    <link rel="stylesheet" href="../assets/styles/layout.css">



    <style>
        body {
          background-color: #fafafa;
        }
        .sidebar {
          
          background-color: #000000;
          color: rgb(255, 255, 255);
        }
        .sidebar .nav-link {
          color: white;
        }
        .sidebar .nav-link:hover,
        .sidebar .nav-link:focus,
        .sidebar .nav-link.active {
          background-color: #3d77f3;
        }
        .circle-user {
          width: 50px;
          height: 50px;
          background-color: #fd0d0d;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          font-weight: bold;
          margin: 20px auto;
        }
        
        .module {
          display: none;
        }
        .module.active {
          display: block;
        }
      </style>




</head>

<body>
  <div class="layout">
    <div class="col-12" id="header"></div>

    <!-- Este main corresponde ya al contenido del modulo como tal, 
    entonces este cambia segun el modulo o la informacion que se quiera mostrar -->
    <main class="col-12 bg-black text-white content">    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
      <h2 class="text-center">Gestión de Actividades</h2><div class="container-fluid">
            <div class="row">
              <div class="col-2 sidebar d-flex flex-column p-3">
                <h4></h4>
                <h4><i class="bi bi-menu-button-wide"></i> Menu</h4>
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" id="link-actividades" href="#" onclick="mostrarModulo('actividades', this)">
                      <i class="bi bi-person-check me-2"></i> Visualizar Servicios
                    </a>
                    








                  
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="link-servicios" href="#" onclick="mostrarModulo('servicios', this)"><i class="bi bi-r-circle me-2"></i>Registro Servicios</a>
                  </li>      
                </ul>
                <div class="mt-auto mb-3">
                  <div class="circle-user">U</div>
                  <p class="text-center">Usuario</p>
                </div>
              </div>
              <div class="col-10 content">
                <div id="actividades" class="module active">
                  <h2>Servicios Registrados por el Usuario</h2>
                  <div class="table-responsive mt-4">
                    <table class="table table-bordered table-hover">
                      <thead class="table-dark">

                      
                        <tr>
                          <th>#</th>
                          <th>Nombre del Servicio</th>
                          <th>Categoría</th>
                          <th>Descripción</th>
                          <th>Fecha de Inicio</th>
                          <th>Barbero</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>Corte de Cabello</td>
                          <td>Corte</td>
                          <td>Tipo de corte french crop bajo texturizado</td>
                          <td>2025-04-01</td>
                          <td>Gabriel Delga</td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>Corte de Barba</td>
                          <td>Barba</td>
                          <td>Barba tipo candado</td>
                          <td>2025-04-03</td>
                          <td>Miguel Bolivar</td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td>Tinte de Cabello</td>
                          <td>Tinte</td>
                          <td>Color azul plateado con rayitos</td>
                          <td>2025-04-05</td>
                          <td>Danilo Santos</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
        
                <div id="servicios" class="module">
                  <h2><i class="bi bi-r-circle me-2"></i>Registro de Servicios</h2>
                  <form class="row g-3">
                    <div class="col-md-6">
                      <label for="nombreServicio" class="form-label">Nombre del Servicio</label>
                      <input type="text" class="form-control" id="nombreServicio" placeholder="Ej: Nombre servicio">
                    </div>
                    <div class="col-md-6">
                      <label for="categoriaServicio" class="form-label">Categoría</label>
                      <select id="categoriaServicio" class="form-select">
                        <option selected>Elegir...</option>
                        <option>Corte</option>
                        <option>Barba</option>
                        <option>Cejas</option>
                      </select>
                    </div>
                    <div class="col-md-6">
                      <label for="categoriaServicio" class="form-label">Valor del servicio</label>
                      <select id="categoriaServicio" class="form-select">
                        <option selected>Elegir una opcion</option>
                        <option>Corte 20.000</option>
                        <option>Barba 15.000</option>
                        <option>Cejas 12.000</option>
                      </select>
                    </div>
                    

                    



                    <div class="col-12">
                      <label for="descripcionServicio" class="form-label">Descripción</label>
                      <textarea class="form-control" id="descripcionServicio" rows="3" placeholder="Detalles del servicio..."></textarea>
                    </div>
                    <div class="col-md-auto">
                      <label for="fechaInicio" class="form-label">Fecha de Inicio</label>
                      <input type="date" class="form-control" id="fechaInicio">
                    </div>
                    <div class="col-md-auto">
                      <label for="responsable" class="form-label">Responsable</label>
                      <input type="text" class="form-control" id="responsable" placeholder="Nombre del responsable">
                    </div>
                    
                    <div class="col-md-auto">
                      <label for="numeroCliente" class="form-label">Número de contacto del cliente</label>
                      <input type="text" class="form-control" id="numeroCliente" placeholder="Agrega el número del cliente">
                    </div>
                    


                    <div class="col-13">
                      
                      <button id="btnRegistrarServicio" type="submit" class="btn btn-primary">Registrar Servicios</button>
                    </div>
                  </form>
                </div>
        
                <div id="ver-servicios" class="module">
                  <h2>Mostrar Servicios</h2>
                  <p>Lista de servicios disponibles.</p>
                </div>
        
                <div id="tipo-user" class="module">
                  <h2>Validar Tipo de Usuario</h2>
                  <p>Lógica para identificar si el usuario es tipo 2 o no.</p>
                </div>
        
                <div id="seleccionar" class="module">
                  <h2>Seleccionar Servicio</h2>
                  <p>Interfaz para elegir un servicio específico.</p>
                </div>
        
                <div id="info-detallada" class="module">
                  <h2>Info Detallada del Servicio</h2>
                  <p>Información completa del servicio seleccionado.</p>
                </div>
        
                <div id="estadisticas" class="module">
                  <h2>Ver Estadísticas</h2>
                  <p>Opción para que el usuario decida si quiere ver estadísticas.</p>
                </div>
        
                <div id="calculos" class="module">
                  <h2>Realizar Cálculos</h2>
                  <p>Procesamiento de datos para generar estadísticas.</p>
                </div>
        
                <div id="mostrar-estadisticas" class="module">
                  <h2>Mostrar Estadísticas</h2>
                  <p>Visualización de estadísticas generadas.</p>
                </div>
              </div>
            </div>
          </div>
          <script>
            function mostrarModulo(id, link = null) {
              const modulos = document.querySelectorAll('.module');
              modulos.forEach(m => m.classList.remove('active'));
              document.getElementById(id).classList.add('active');
        
              const navLinks = document.querySelectorAll('.sidebar .nav-link');
              navLinks.forEach(l => l.classList.remove('active'));
              if (link) {
                link.classList.add('active');
              }
            }
          </script>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </main>



    <!-- Este div representa el footer funciona a la par con su correspondiente archivo .js -->
    <div class="col-12" id="footer"style="height:auto;"></div>
  </div>
  <script src="../assets/js/gestion_actividades/registrar.js"></script>

</body>
</html>
